
body {
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	line-height: 24px;
	color: #666666;
  font-size: 15px;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* хедер */

.header__top {
  background-color: #f2f2f2;
  padding: 15px 0px;
}


.header__icons i {
  margin-left: 15px;
  color: #666666;
}

.header__menu {
  padding: 35px 0 15px;
}

.logo {
  float: left;
  margin-right: 10px;
}

.logo-title h2 {
  font-weight: 900;
	font-family: 'Lato', sans-serif;
	line-height: 22px;
	color: #333333;
  font-size: 28px;
  text-transform: uppercase;
}

.header__descr {
  font-size: 14px;
  line-height: 22px;
}

.menu-bar {
  color: #393939;
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}

.bars {
  display: none;
}

.menu-bar__item {
  margin-left: 34px;
}

.menu-bar__item a{
  color: #393939;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.header__inner {
  background-color: #2f2d2d;
  background-image: url('../img/header-bg.jpg');
  padding: 170px 0;
}

.header__title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  margin: 0 0 20px;
}

.header__cta{
  padding: 0;
  margin-top: 25px;
}

.header__text {
  color: #cccccc;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 40px;
}

.button {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  background-color: #ffb619;
  padding: 17px 38px;
  border: 2px solid #ffb619;
  transition: 0.3s;
}

.button-quote {
  margin-left: 10px;
  background: none;
  border: 2px solid #ffffff;
}

.button:hover {
  background-color: #d69d23;
  border: 2px solid #d69d23;
}

/* блок "13 лет опыта" */

.experience {
  background-color: #e3e3e3;
  background-image: url('../img/experience-bg.jpg');
  padding: 50px 0;
}

.experience__title {
  color: #333333;
  font-size: 26px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
}

.experience__phone {
  background-color: #ffb619;
  padding: 15px 25px 15px 50px;
  color: #ffffff;
  font-weight: 900;
  line-height: 22px;
  font-size: 18px;
  position: relative;
}

.experience__phone:hover {
  color: #ffffff;
}

.experience__phone::before {
  content: '';
  background-image: url('../img/phone-icon.png');
  width: 17px;
  height: 26px;
  background-repeat: no-repeat;
  position: absolute;
  left: 20px;
}

/* блок с преимуществами */

.advantage {
  padding: 80px 0 120px;
}

.advantage__main {
  padding-left: 0;
  margin-top: 40px;
}

.sect-title {
  color: #333333;
  font-weight: 900;
  line-height: 22px;
  font-size: 30px;
  text-transform: uppercase;
}

.advantage__sect-title {
  position: relative;
  margin-bottom: 40px;
}

.advantage__sect-title::after {
  content: '';
  width: 60px;
  height: 3px;
  background-color: #1c3e9b;
  position: absolute;
  left: 0;
  bottom: -23px;
}


.advantage__text {
  margin-bottom: 40px;
}

.advantage__lists {
  justify-content: space-around;
}

.advantage-list__title {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  position: relative;
}

.advantage-list__item {
  margin-bottom: 35px;
}

.advantage-list:nth-of-type(1)::before {
  content: '';
  background-image: url('../img/adv-icon1.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  position: absolute;
  left: -55px;
}

.advantage-list:nth-of-type(2)::before {
  content: '';
  background-image: url('../img/adv-icon3.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  position: absolute;
  left: -55px;
}

.advantage-list:nth-of-type(3)::before {
  content: '';
  background-image: url('../img/adv-icon2.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  position: absolute;
  left: -55px;
}

.advantage-list:nth-of-type(4)::before {
  content: '';
  background-image: url('../img/adv-icon4.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  position: absolute;
  left: -55px;
}

.advantage-list_right {
  margin-left: 55px;
}

/* блок с сервисами */

.services {
  background-color: #303030;
  background-image: url('../img/services-bg.jpg');
  padding: 75px 0 100px;
}

.services__sect-title {
  text-align: center;
  color: #ffffff;
  position: relative;
  margin-bottom: 90px;
}

.services__sect-title::after {
  content: '';
  width: 60px;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  bottom: -23px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.services__item {
  border: solid 4px #1c3e9b;
  height: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  transition: 0.3s;
}

.services__item:hover {
  background-color: #1c3e9b;
  cursor: pointer;
}

.services-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.services-descr {
  text-align: center;
  color: #cccccc;
}

.services__button {
  padding: 17px 27px;
}

.services__inner {
  margin-bottom: 65px;
}

/* блок с проектами */

.projects {
  padding: 75px 0 100px;
}

.projects__sect-title {
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}

.projects__sect-title::after {
  content: '';
  width: 60px;
  height: 3px;
  background-color: #1c3e9b;
  position: absolute;
  left: 525px;
  bottom: -23px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.projects-menu {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}

.projects-menu__item button{
  margin-left: 25px;
  text-transform: uppercase;
  color: #666666;
  font-weight: 700;
  border: none;
  background: none;
  outline: none;
}

.button-gallery[val="on"] {
  color: #ffb619;
  cursor: default;
}

.projects__gallery {
  margin-bottom: 60px;
}

.project__pic:first-child {
  background-image: url('../img/projects-pic1.jpg');
  width: 390px;
  height: 292px;
}
.project__pic:nth-child(2){
  background-image: url('../img/projects-pic2.jpg');
  width: 390px;
  height: 292px;
  text-align: center;
  padding-top: 110px;
}

.project__pic:nth-child(3){
  background-image: url('../img/projects-pic3.jpg');
  width: 390px;
  height: 292px;
}

.project__pic:nth-child(4){
  background-image: url('../img/projects-pic3.jpg');
  width: 390px;
  height: 292px;
}

.project__pic:nth-child(5){
  background-image: url('../img/projects-pic4.jpg');
  width: 390px;
  height: 292px;
}

.project__pic:last-child{
  background-image: url('../img/projects-pic5.jpg');
  width: 390px;
  height: 292px;
}

.projects__text {
  font-weight: 700;
  line-height: 10px;
	color: #ffb619;
  font-size: 20px;
}

.projects__descr {
	line-height: 22px;
	color: #cccccc;
}

.project__pic i {
  color: #ffffff;
}

.projects__button {
  padding: 17px 32px;
}

/* блок "проблемы в жилье" */

.problems {
  background-color: #444444;
  background-image: url('../img/problems-bg.jpg');
  padding: 180px 0 225px;
}

.problems__ask {
  margin-bottom: 40px;
}

.problems__title {
  font-weight: 700;
  line-height: 52px;
	color: #f2f2f2;
  font-size: 36px;
  text-transform: uppercase;
}

.problems__phone {
  color: #ffffff;
  line-height: 18px;
  font-weight: 900;
  font-size: 25px;
  background-color: #ffb619;
  padding: 10px 35px 10px 50px;
  position: relative;
}

.problems__phone::before {
  content: '';
  background-image: url('../img/phone-icon.png');
  width: 17px;
  height: 26px;
  background-repeat: no-repeat;
  position: absolute;
  left: 20px;
  top: 10px;
}

.problems__phone:hover {
  color: #ffffff;
}

/* блок с формой и локацией */

.location {
  padding: 75px 0 100px;
  background-color: #e9e9e9;
  background-image: url('../img/location-bg.jpg');
}

.location__title {
  position: relative;
  margin-bottom: 75px;
}

.adapt-title {
  display: none;
}

.location__title::after {
  content: '';
  width: 60px;
  height: 3px;
  background-color: #1c3e9b;
  position: absolute;
  left: 0px;
  bottom: -23px;
}

.form__title {
  position: relative;
  margin-bottom: 75px;
}

.form__title::after {
  content: '';
  width: 60px;
  height: 3px;
  background-color: #1c3e9b;
  position: absolute;
  left: 0px;
  bottom: -23px;
}

.name-input,
.subj-input,
.email-input,
.phone-input {
  border: none;
  outline: none;
  padding: 17px 80px 17px 20px;
  margin-bottom: 15px;
}

.textarea-input {
  resize: none;
  outline: none;
  border: none;
  min-height: 148px;
  width: 555px;
  padding: 17px 20px;
  margin-bottom: 31px;
}

/* бренды*/

.brands {
  padding: 55px 0;
}

.brands-list__item {
  opacity: 0.5;
  transition: 0.3s;
}

.brands-list__item:hover {
  opacity: 1;
  cursor: pointer;
}

/* футер */

.footer {
  background-color: #1a1a1a;
  padding: 60px 0 80px;
}

.footer__title {
  font-size: 18px;
  color: #cccccc;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact-icon {
  background-color: #252525;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-top: 15px;
}

.contact-icon i {
  color: #ffb619;
  font-size: 20px;
}

.contact-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-list__item:nth-child(1) i{
  padding-left: 20px;
}

.contact-list__item:nth-child(2) i{
  padding-left: 18px;
}

.contact-list__item:nth-child(3) i{
  padding-left: 16px;
}

.contact-list__item:nth-child(4) i{
  padding-left: 16px;
}

.contact-list__item p {
  color: #999999;
  margin: 0;
  margin-left: 10px;
}

.contact-list__item span {
  color: #cccccc;
  font-size: 18px;
  line-height: 10px;
  font-weight: 700;
}

.services-list__item {
  padding-left: 20px;
  position: relative;
}

.services-list__item::before {
  content: '';
  background-image: url('../img/footer-arrow.png');
  width: 8px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 6px;
}

.offer {
  padding: 40px 55px 10px;
  border: 1px dashed #404040;
  text-align: center;
  color: #999999;
}

.offer__get {
  font-size: 22px;
  color: #cccccc;
  text-transform: uppercase;
  font-weight: 700;
}

.offer__get span {
  font-size: 55px;
  color: #ffb619;
  font-weight: 900;
}

.offer__services {
  font-size: 18px;
  color: #cccccc;
  font-weight: 700;
  margin-bottom: 50px;
}

.offer__code {
  font-size: 16px;
  color: #ffb619;
  text-transform: uppercase;
}

.copyright {
  background-color: #0d0d0d;
  padding: 20px 0;
}

.copyright__text {
  text-align: center;
  margin: 0;
}

.copyright__text span {
  color: #ffb700;
}

@media screen and (max-width: 1200px) {
  .advantage__bunny {
    width: 370px;
    height: 351px;
  }
  .header__inner {
    padding: 50px 0;
  }

  .menu-column {
    margin-left: 0;
  }
  
  

  .header__menu {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .services__item {
    margin-bottom: 20px;
  }
  
  .form__title {
    display: none;
  }

  .adapt-title {
    display: block;
    margin-bottom: 40px;
    position: relative;
  }

  .adapt-title::after {
    content: '';
    width: 60px;
    height: 3px;
    background-color: #1c3e9b;
    position: absolute;
    left: 0px;
    bottom: -23px;
  }

  .location__map {
    margin-bottom: 60px;
  }

}

  @media screen and (max-width: 1024px) {

    .menu-bar {
      display: none;
      position: absolute;
      right: -225px;
      top: 10px;
      text-align: right;
      background-color: #ffffff;
      padding: 20px 20px;
    }
  
    .bars {
      display: flex;
      justify-content: flex-end;
      font-size: 30px;
      cursor: pointer;
      position: relative;
    }
  

    .experience__title {
      margin-bottom: 20px;
      justify-content: center;
      text-align: center;
    }

    .brands-list__item {
      margin-bottom: 20px;
    }

    .projects-menu {
      display: block;
    }

    .location__map {
      width: 339px;
      height: 294px;

    }
  }

  @media screen and (max-width: 768px) {

    .experience__title {
      line-height: 30px;
    }

    .textarea-input {
      min-height: 148px;
      width: 300px;
      padding: 17px 20px;
      margin-bottom: 31px;
    }
  }