
body {
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	line-height: 24px;
	color: #666666;
  font-size: 15px;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__top {
  background-color: #f2f2f2;
  padding: 15px 0px;
}

.header__icons {
  display: flex;
  margin-left: auto;
  align-self: center;
  justify-content: flex-end;
}

.header__icons i {
  margin-left: 15px;
  color: #666666;
}

.header__menu {
  padding: 35px 0 15px;
}

.logo {
  float: left;
  margin-right: 10px;
}

.logo-title h2 {
  font-weight: 900;
	font-family: 'Lato', sans-serif;
	line-height: 22px;
	color: #333333;
  font-size: 28px;
  text-transform: uppercase;
}

.header__descr {
  font-size: 14px;
  line-height: 22px;
}

.menu-bar {
  color: #393939;
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}

.menu-bar__item {
  margin-left: 34px;
}

.menu-bar__item a{
  color: #393939;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.header__inner {
  background-color: #2f2d2d;
  background-image: url('../img/header-bg.jpg');
  padding: 170px 0;
}

.header__title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  margin: 0 0 20px;
}

.header__cta{
  padding: 0;
  margin-top: 25px;
}

.header__text {
  color: #cccccc;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 40px;
}

.button {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  background-color: #ffb619;
  padding: 17px 38px;
  border: 2px solid #ffb619;
  transition: 0.3s;
}

.button-quote {
  margin-left: 10px;
  background: none;
  border: 2px solid #ffffff;
}

.button:hover {
  background-color: #d69d23;
  border: 2px solid #d69d23;
}

.experience {
  background-color: #e3e3e3;
  background-image: url('../img/experience-bg.jpg');
  padding: 50px 0;
}

.experience__title {
  color: #333333;
  font-size: 26px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
}

.experience__phone {
  background-color: #ffb619;
  padding: 15px 25px 15px 50px;
  color: #ffffff;
  font-weight: 900;
  line-height: 22px;
  font-size: 18px;
  position: relative;
}

.experience__phone:hover {
  color: #ffffff;
}

.experience__phone::before {
  content: '';
  background-image: url('../img/phone-icon.png');
  width: 17px;
  height: 26px;
  background-repeat: no-repeat;
  position: absolute;
  left: 20px;
}

.advantage {
  padding: 80px 0 120px;
}

.advantage__main {
  padding-left: 0;
  margin-top: 40px;
}

.sect-title {
  color: #333333;
  font-weight: 900;
  line-height: 22px;
  font-size: 30px;
  text-transform: uppercase;
}

.advantage__sect-title {
  position: relative;
  margin-bottom: 40px;
}

.advantage__sect-title::after {
  content: '';
  width: 60px;
  height: 3px;
  background-color: #1c3e9b;
  position: absolute;
  left: 0;
  bottom: -23px;
}


.advantage__text {
  margin-bottom: 40px;
}

.advantage-list__title {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  position: relative;
}

.advantage-list__item {
  margin-bottom: 35px;
}

.advantage-list_left .advantage-list__item:nth-of-type(1)::before {
  content: '';
  background-image: url('../img/adv-icon1.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  position: absolute;
  left: -55px;
}

.advantage-list_left .advantage-list__item:nth-of-type(2)::before {
  content: '';
  background-image: url('../img/adv-icon2.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  position: absolute;
  left: -55px;
}

.advantage-list_right .advantage-list__item:nth-of-type(1)::before {
  content: '';
  background-image: url('../img/adv-icon3.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  position: absolute;
  left: -55px;
}

.advantage-list_right .advantage-list__item:nth-of-type(2)::before {
  content: '';
  background-image: url('../img/adv-icon4.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  position: absolute;
  left: -55px;
}

.advantage-list_right {
  margin-left: 55px;
}

.services {
  background-color: #303030;
  background-image: url('../img/services-bg.jpg');
  padding: 75px 0 100px;
}

.services__sect-title {
  text-align: center;
  color: #ffffff;
  position: relative;
  margin-bottom: 90px;
}

.services__sect-title::after {
  content: '';
  width: 60px;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  left: 525px;
  bottom: -23px;
}

.services__item {
  border: solid 4px #1c3e9b;
  height: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  transition: 0.3s;
}

.services__item:hover {
  background-color: #1c3e9b;
  cursor: pointer;
}

.services-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.services-descr {
  text-align: center;
  color: #cccccc;
}

.services__button {
  padding: 17px 27px;
}

.services__inner {
  margin-bottom: 65px;
}

.projects {
  padding: 75px 0 100px;
}

.projects__sect-title {
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}

.projects__sect-title::after {
  content: '';
  width: 60px;
  height: 3px;
  background-color: #1c3e9b;
  position: absolute;
  left: 525px;
  bottom: -23px;
}

.projects-menu {
  margin-bottom: 35px;
}

.projects-menu__item a{
  margin-left: 25px;
  text-transform: uppercase;
  color: #666666;
  font-weight: 700;
}

.projects-menu__item_select a{
  color: #ffb619;
  cursor: default;
}

.projects__gallery {
  margin-bottom: 60px;
}

.project__pic:first-child {
  background-image: url('../img/projects-pic1.jpg');
  width: 390px;
  height: 292px;
}
.project__pic:nth-child(2){
  background-image: url('../img/projects-pic2.jpg');
  width: 390px;
  height: 292px;
  text-align: center;
  padding-top: 110px;
}

.project__pic:nth-child(3){
  background-image: url('../img/projects-pic3.jpg');
  width: 390px;
  height: 292px;
}

.project__pic:nth-child(4){
  background-image: url('../img/projects-pic3.jpg');
  width: 390px;
  height: 292px;
}

.project__pic:nth-child(5){
  background-image: url('../img/projects-pic4.jpg');
  width: 390px;
  height: 292px;
}

.project__pic:last-child{
  background-image: url('../img/projects-pic5.jpg');
  width: 390px;
  height: 292px;
}

.projects__text {
  font-weight: 700;
  line-height: 10px;
	color: #ffb619;
  font-size: 20px;
}

.projects__descr {
	line-height: 22px;
	color: #cccccc;
}

.project__pic i {
  color: #ffffff;
}

.projects__button {
  padding: 17px 32px;
}